# Ignore everything
**

# Allow only the pwa-server and shared folders
!apps/pwa-server/
!apps/shared/

# Ignore node_modules within the allowed folders
apps/pwa-server/node_modules
apps/shared/node_modules

# Ignore build outputs
apps/pwa-server/dist
apps/shared/dist

# Ignore temporary files and logs
*.log
*.tmp
*.bak

# Ignore IDE configurations
.vscode
.idea

# Ignore Git files
.git
.gitignore

# Ignore environment files
.env
