# Ignore everything by default
**

# Allow required files for pwa-server
!apps/pwa-server/
!apps/shared/

# Ignore node_modules and build outputs
**/node_modules
**/dist

# Ignore temporary files and logs
*.log
*.tmp
*.bak

# Ignore IDE configurations
.vscode
.idea

# Ignore Git files
.git
.gitignore

# Ignore environment files
.env
