# Ignore everything by default
**

# Include only the necessary files for deployment
!app.yaml
!.output/
!.output/server/
!package.json
!pnpm-lock.yaml

# Exclude unnecessary files and directories
node_modules/
.pnpm-store/
dist/
coverage/
logs/
*.log
*.tmp
*.swp
*.bak
*.old
.env
*.local
.vscode/
.idea/
.git/
.gitignore

# Exclude unneeded files in .output
.output/public/
.output/.nuxt/
.output/client/
.output/**/*.map
