# Ignore everything by default
**

# Include only the necessary files and directories
!apps/pwa-client/
!apps/shared/

# Allow root files needed
!pnpm-*.yaml
!package-*.json

# Exclude unnecessary files and directories
**/.pnpm-store/
**/node_modules/
dist/
coverage/
logs/
*.log

# Exclude temporary files and local environment files
*.tmp
*.swp
*.bak
*.old
**/.env
**/*.local

# Exclude IDE configurations
**/.vscode/
**/.idea/

# Exclude Git files
.git
.gitignore
